*{
    background-color: black;
    box-sizing: border-box;
    color:cadetblue;
}
.encabezado{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;  
    margin: 0px;
    }
#fotodeperfil{
    width: 20%;
    height: 20%;
    text-align: left;
    float: right;
    margin: 0 30px;
}
.temasrelevantes{
    display: flex;
    justify-content: start;
    margin: 0px;
    gap: 30px;
    }
#datosbasicos{
    font-weight: bold;
    line-height: 0%;
    }
.desgloseexperiencia{
    display: flex;
}